/*font: italic bold 12px/30px Georgia, serif;*/

body {
    font-family: Helvetica, Verdana, sans-serif; 

	background-color: white;
}

header, nav, main, article, aside, section, footer, video,
audio, figure { display: block; }

.container {
   /* max-width: 960px;*/
	margin: 0 auto;
	background-color: #ededed; /*white; */
	box-sizing: border-box;
}

h1 {
    color: darkcyan;
    text-align: center;
    margin: 10px 25px;
    font-weight: bold;
    font-size: 2.1em;
    text-shadow: 1px 1px 2px #fff,  
                 2px 2px 3px #666,
                 3px 3px 5px #999;
    letter-spacing: 0.2em;
}
h2 {
    color: darkcyan;
    font: bold 1.3 Arial;
    text-align: center;
    letter-spacing: 0.1em;
}

p {
    color: black;
    margin: 10px 20px 20px;
    text-align: center;
    line-height: 1.5em;
	font-size: 1.2em;
}

header {
    text-align: center;
	height: 120px;
	position: relative;
	background-color: lightblue;
	border-bottom: solid 3px darkgray;
}

img {
	max-width: 100%;
	height: auto;
}
header img {
    float: left;
	max-width: 15%;
	max-height: 120px; /* 120px; */
	border: solid 3px darkcyan;
    border-radius: 8px;
    margin: 1%;
}

/* Navigation - Hamburger menu for mobile */

nav.mainNav {
    background-color: azure; /*#dedede; */
	width: 100%;
}
.mainNav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
}
.mainNav li {
    border-bottom: solid 1px #999;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: bold;
}
.mainNav li a {
    display: block;
    /*padding-left: 10px;*/
    /*margin-top: 20px;*/
	padding: 2% 0;
	text-decoration: none;
	color: grey; /*darkgoldenrod; */

}
#navigation nav {
    height: 0;
    overflow: hidden;
}
   /* fixing problems on some browsers - tricking */ 
body {
    -webkit-animation: bugfix infinite 1s;
}
@webkit-keyframes bugfix {
    from { padding: 0;}
    to { padding: 0;}
}
#navigation {
	width: 100%;
}
#navigation input[type=checkbox] {
    position: absolute;
    top: -999em;
    left: -999em;  /* hide checkbox out of screen */
}
#navigation label {
    display: block;
    background: url("../IMAGES/nav-icon.png") no-repeat right center;
    position: relative;
    top: 30px;
    right: 15px;
    text-indent: -999em;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    margin-left: 0;
  }
#navigation input[type=checkbox]:checked ~ nav {
    height: auto;
    overflow: hidden;
}
/* End of Navigation */

main {
    clear: both;
	background-color: #ededed;
	padding: 15px 0;
}

footer {
    padding: 30px 0;
    font-size: 0.9em;
    text-align: center;
	background-color: lightblue;
	border-top: solid 3px darkgray;
}

.formMortCalc, .formAmortTblCalc {
    border: solid 3px darkcyan;
    border-radius: 15px;
    width: 90%;
    margin: 10px auto;
    background-color: azure;
    clear: both;
}

#amortTable {
    width: 90%;
    margin: 2px auto 10px;
    border: solid 2px;
}
#amortTable tr:nth-child(even) {
    background-color: azure; /* #ededed; */
}

#amortTable tr td:nth-child(3),
#amortTable tr th:nth-child(3) {
    display: none;
}
article[class^="form"] {
  width: 50%;
}
form {
	margin-bottom: 10px;
	width: 50%;
}

h3 {
    text-align: center;
    letter-spacing: 0.1em; 
    color: darkcyan;
}
input {
    padding-left: 4px;
    text-align: left;
}

#outMonthly {
   /* background-color: lemonchiffon;*/
    font-weight: bold;
    font-size: 1.2em;
    color: darkcyan;
    padding-left: 5px;
}
article p {
  padding-left: 10px;
}

/*section {
    margin-top: 1.3em;
	background-color: red;
}*/

ul.accordion {
	width: 90%;
	height: auto;
	margin: 0 auto;
	list-style: none;
	/*border: solid 2px #000;*/
	padding: 0 30px;
}
.accordion h3 {
	background-color: rgba(0,139,139,.9); /* darkcyan; */
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: left;
}
.accordion h3 i {
	margin-right: 15px;
	background: none;
/*	background-color: #fff;*/
	color: #fff; /* darkcyan; */
	padding: 1px 3px;
	/*width: 100px;
	height: 100px;*/
}
.accordion p {
	display: none;
}

button {
     padding: 5px;
     background-color: darkcyan;
     color: lightcyan;
}
#otherBtn {
    border: none;
    background-color: azure;
    color: #000;
    font-weight: bold;
}

.clearIt {
    clear: both;
}
@media screen and (min-width: 580px) {

	#navigation nav {
		width: 100%;
		margin-right: 0;
		background-color: lightblue;
	}
	.mainNav ul {
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		/*float: right;
		margin-right: 10px;*/
    }

    #navigation label {
        display: none;
    }
    #navigation nav {
        height: auto;
        overflow: visible;
	}
    #navigation li {
        border: solid 2px darkcyan;
		padding: 1%;
		width: 16%;
		border-radius: 8px;
		background-color: azure;
    }
	#amortTable tr td:nth-child(3),
    #amortTable tr th:nth-child(3) {
    	display: table cell;
	}

}

